.test {
    font-size: 100%;
}

html {
    font-size: 200%;
}

body {
    overflow-y: scroll;
}

@font-face {
    font-family: edwin;
    src: url("./res/notation/fonts/edwin/Edwin-Roman.otf");
}

.edwin {
    font-family: edwin;
    //vertical-align: text-top;
    font-size: 30px;
}


@font-face {
    font-family: bravura;
    src: url("./res/notation/fonts/bravura/Bravura.otf");
}

.bravura {
    font-family: bravura;
    //vertical-align: text-bottom;
    font-size: 30px;
}